<!DOCTYPE html>
<html lang="en">

<head>
  {{ block "head" . }}
  {{ partial "head.html" . }}
  {{ end }}
  {{block "addscripts" . }}
  {{end}}
</head>

<body class="gallery">
  {{ block "nav" . }}
  {{ partial "nav.html" . }}
  {{ end }}
  <div class="archive">
    <div class="content">
      {{ range .Pages }}
      <div>
        <a href="{{.Permalink}}">
          <picture>
            <source srcset="https://photos.dzx.cz/{{ .Params.srcset.webp1024 }}" type="image/webp">
            <img alt="" src="https://photos.dzx.cz/{{ .Params.srcset.jpg1024 }}" loading="lazy">
          </picture>
        </a>
      </div>
      {{ end }}
    </div>
  </div>

  {{ block "main" . }}{{ end }}
  {{ block "footer" . }}
  {{ partial "footer.html" . }}
  {{ end }}
</body>

</html>