<footer>
  <div>
    {{ with .GitInfo }}
    <a href="https://github.com/matoous/dzxcz/blob/main/content/{{ $.File.Path }}">
      {{ $.File.Path }}@{{ .AbbreviatedHash }}
    </a>,
    <time datetime="{{ .AuthorDate.Format " 2006-01-02" }}">{{ .AuthorDate.Format "2006-01-02" }}</time>
    {{ end }}
  </div>
  <div>
    © Matous Dzivjak, {{ now.Year }}
  </div>
  <div>
    Staff Engineer @ <a href="https://sumup.com">SumUp</a>
  </div>
  <div>
    <address>Berlin, Germany</address> · <address>Litomerice, Czech Republic</address>
  </div>
  <div>
  </div>
  <div>
    <a href="mailto:matousdzivjak@gmail.com">matousdzivjak@gmail.com</a> ·
    <a href="https://github.com/matoous">GitHub</a> ·
    <a href="https://www.instagram.com/matousdz/">Instagram</a>
  </div>
</footer>