{{ define "main" }}
<article>
  {{ .Content }}
  <h2>Achievements</h2>
  <section class="listing achievements">
    <div>
      <a href="https://www.aranbyutmb.com/en/">
        Ultratrail Val d'Aran Pyrenees by UTMB 2023
      </a>
      <div>
        105 km, 6100 m ↑
      </div>
      <div>
        -
      </div>
    </div>
    <div class="📅">
      2023-07-08
    </div>
    <div class="dnf">
      <a href="https://www.ironman.com/im-hamburg">
        Ironman Hamburg European Championship 2023
      </a>
      <div>
        3.8 km, 180 km, 42.20 km
      </div>
      <div>
        -
      </div>
    </div>
    <div class="📅">
      2023-06-04
    </div>
    <div class="dnf">
      <a href="https://istria.utmb.world/">
        Istria 100 by UTMB
      </a>
      <div>
        109.8 km, 3860 m ↑
      </div>
      <div>
        13:59:29, 40th/387
      </div>
    </div>
    <div class="📅">
      2023-04-15
    </div>
    <div>
      <a href="https://kullamannen.com/">
        Kullamannen Sprint Ultra by UTMB 2022
      </a>
      <div>
        107 km, 1240 m ↑
      </div>
      <div>
        12:57:39, 30th/301, 14th/62 age group
      </div>
    </div>
    <div class="📅">
      2022-11-04
    </div>
    <div>
      <a href="https://www.bmw-berlin-marathon.com/en/">
        BMW Berlin Marathon 2022
      </a>
      <div>
        42.195 km
      </div>
      <div>
        2:54:52, 1455th/34765, 231st/3019 age group
      </div>
    </div>
    <div class="📅">
      2022-09-24
    </div>
    <div class="dnf">
      <a href="https://www.aranbyutmb.com/en/">
        Ultratrail Val d'Aran Pyrenees by UTMB 2022
      </a>
      <div>
        105 km, 6100 m ↑
      </div>
      <div>
        DNF
      </div>
    </div>
    <div class="📅">
      2022-07-09
    </div>
    <div>
      <a href="https://www.ironman.com/im-frankfurt">
        Ironman Frankfurt European Championship 2022
      </a>
      <div>
        3.8 km, 180 km, 42.20 km
      </div>
      <div>
        11:34:42 (1:15:13, 5:28:58, 4:39:04), 1072nd/2634, 70th/121 age group
      </div>
    </div>
    <div class="📅">
      2022-06-26
    </div>
    <div>
      <a href="https://www.runczech.com/">
        VW Marathon Prague 2022
      </a>
      <div>
        42.195 km
      </div>
      <div>
        2:59:50, 170th/4604, 57th/554 age group
      </div>
    </div>
    <div class="📅">
      2022-05-08
    </div>
  </section>
</article>
{{ end }}