{{ define "main" }}
<article>
  {{ .Content }}
  <h2>Achievements</h2>
  <div class="achievements">
    <div class="achievement dnf">
      <div class="note">
        Coming Soon
      </div>
      <div class="logo">
        <img src="/ironman_hamburg_2023.png">
      </div>
      <div>
        <div>
          <a href="https://www.ironman.com/im-hamburg">
            Ironman Hamburg European Championship 2023
          </a>
        </div>
        <div>
          4th June 2023
        </div>
        <div>
          3.8 km, 180 km, 42.20 km
        </div>
        <div>
          -
        </div>
      </div>
    </div>
    <div class="achievement dnf">
      <div class="note">
        Coming Soon
      </div>
      <div class="logo">
        <img src="/istria_100_2023.png">
      </div>
      <div>
        <div>
          <a href="https://istria.utmb.world/">
            Istria 100 by UTMB
          </a>
        </div>
        <div>
          15th April 2023
        </div>
        <div>
          109.8 km, 3860 m ↑
        </div>
        <div>
          -
        </div>
      </div>
    </div>
    <div class="achievement">
      <div class="logo">
        <img src="/kullamannen_sprint_ultra_100_2022.png">
      </div>
      <div>
        <div>
          <a href="https://kullamannen.com/">
            Kullamannen Sprint Ultra by UTMB 2022
          </a>
        </div>
        <div>
          4th November 2022
        </div>
        <div>
          107 km, 1240 m ↑
        </div>
        <div>
          12:57:39, 30th/301, 14th/62 age group
        </div>
      </div>
    </div>
    <div class="achievement">
      <div class="logo">
        <img src="/bmw_berlin_marathon_2022.png">
      </div>
      <div>
        <div>
          <a href="https://www.bmw-berlin-marathon.com/en/">
            BMW Berlin Marathon 2022
          </a>
        </div>
        <div>
          24th September 2022
        </div>
        <div>
          42.195 km
        </div>
        <div>
          2:54:52, 1455th/34765, 231st/3019 age group
        </div>
      </div>
    </div>
    <div class="achievement dnf">
      <div class="note">
        DNF
      </div>
      <div class="logo">
        <img src="/val_daran_cdh_105_2022.png">
      </div>
      <div>
        <div>
          <a href="https://www.aranbyutmb.com/en/">
            Ultratrail Val d'Aran Pyrenees by UTMB 2022
          </a>
        </div>
        <div>
          9th July 2022
        </div>
        <div>
          105 km, 6100 m ↑
        </div>
        <div>
          DNF
        </div>
      </div>
    </div>
    <div class="achievement">
      <div class="logo">
        <img src="/im_frankfurt_mainova_2022.png">
      </div>
      <div>
        <div>
          <a href="https://www.ironman.com/im-frankfurt">
            Ironman Frankfurt European Championship 2022
          </a>
        </div>
        <div>
          26th June 2022
        </div>
        <div>
          3.8 km, 180 km, 42.20 km
        </div>
        <div>
          11:34:42 (1:15:13, 5:28:58, 4:39:04), 1072nd/2634, 70th/121 age group
        </div>
      </div>
    </div>
    <div class="achievement">
      <div class="logo">
        <img src="/wv_marathon_prague_2022.png">
      </div>
      <div>
        <div>
          <a href="https://www.runczech.com/">
            VW Marathon Prague 2022
          </a>
        </div>
        <div>
          8th May 2022
        </div>
        <div>
          42.195 km
        </div>
        <div>
          2:59:50, 170th/4604, 57th/554 age group
        </div>
      </div>
    </div>
  </div>
</article>
{{ end }}