{{ define "main" }}
{{ $data := ( index $.Site.Data.activities .Params.Id )}}
{{ with $data }}

<header>
  <h1>{{ .name }}</h1>
</header>

{{ if eq .type "Run" }}
  {{ partial "activities/run.html" . }}
{{ end }}

{{ if eq .type "Ride" }}
  {{ partial "activities/ride.html" . }}
{{ end }}

{{ if .map.polyline }}
  {{ partial "activities/map.html" . }}
{{ end }}

{{ partial "activities/meta.html" . }}

{{ with .segment_efforts }}
  {{ partial "activities/segments.html" . }}
{{ end }}

{{ with .best_efforts }}
  {{ partial "activities/best_efforts.html" . }}
{{ end }}

{{ with .laps }}
  {{ partial "activities/laps.html" . }}
{{ end }}

{{ end }}
{{ end }}
