:root {
  --foreground: #1d1d1f;
  --dark: #222;
  --background: #fff;
  --light: #555;
  --lightest: #aaa;
  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --page-width: 840px;
  --font-mono: "Berkeley Mono", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --dark: #ddd;
    --background: #1d1d1f;
    --light: #aaa;
    --lightest: #666;
  }
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('/fonts/BerkeleyMonoVariable-Regular.woff2') format('woff2'),
    url('/fonts/BerkeleyMonoVariable-Regular.woff') format('woff');
  font-weight: 100 110 120 130 140 150;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('/fonts/BerkeleyMonoVariable-Italic.woff2') format('woff2'),
    url('/fonts/BerkeleyMonoVariable-Italic.woff') format('woff');
  font-weight: 100 110 120 130 140 150;
  font-style: italic;
}

html {
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--foreground);
  background-color: var(--background);
  word-break: break-word;
  width: 100%;
  line-height: 1.5;
  display: grid;
  grid-template:
    'nav main'
    'footer footer';
  grid-template-columns: minmax(16em, 1fr) minmax(0, 3fr);

  @media only screen and (max-width: 840px) {
    grid-template:
      'nav'
      'main'
      'footer';
  }

  &.gallery {
    grid-template:
      'nav'
      'main'
      'footer';
  }
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}

* {
  box-sizing: border-box;
}

a.icon {
  display: inline-flex;
  stify-content: center;
  align-items: center;
}

a {
  color: var(--foreground);
  text-decoration: underline;

  &:hover {
    text-decoration: none;

    svg {
      fill: var(--background);
    }
  }

  svg {
    height: 1em;
    width: 1em;
    fill: var(--foreground);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  letter-spacing: -0.0425em;
}

h1 {
  font-size: 2.4em;
  font-weight: 800;
}

.tags {
  color: var(--light);
  font-size: 0.9em;
}

hr {
  background: var(--foreground);
  height: 1px;
  border: 0;
}

p {
  word-break: break-word;
}

pre {
  overflow-x: auto;
  border-radius: 0.2em;
  padding: 1em;
}

code {
  font-family: var(--font-mono);
  font-weight: 120;
  font-size: 14px;
}

footer {
  margin-top: 4em;
  font-size: 0.875em;
  color: var(--light);
  grid-area: footer;
  padding: 1.6em;
  border-top: 1px solid var(--lightest);

  address {
    display: inline-block;
  }

  a {
    color: var(--light);

    &:hover {
      color: var(--foreground);
    }
  }
}

ul,
ol {
  padding-left: 1.2em;
}

details {
  margin-bottom: .4rem;
}

main {
  grid-area: main;
  max-width: var(--page-width);
  min-height: calc(100vh - 3.2em);
  padding: 1.6em;
  overflow: hidden;
}

nav {
  grid-area: nav;
  justify-content: space-between;
  align-items: center;
  padding: 1.6em;
  font-family: var(--font-mono);
  font-weight: 100;
  flex-wrap: wrap;
  flex-direction: column;

  h1 {
    margin: 0 1.4rem 0 0;
    font-size: 1em;
    white-space: nowrap;
    font-weight: 150;
  }

  a {
    text-decoration: none;
    padding: .2em;

    &:hover {
      background-color: var(--foreground);
      color: var(--background);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0.6rem 0;
  }

  li {
    margin-right: 0.6em;
    display: block;

    a {
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 0.1em;

      &.active {
        font-weight: 150;

        &::after {
          content: '←';
        }
      }
    }
  }

}

@media only screen and (max-width: 840px) {
  nav {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    padding: 1em 1.6em;
    border-bottom: 1px solid var(--lightest);

    li {
      display: inline-block;
    }

    .socials {
      display: none;
    }
  }
}

body.gallery {
  nav {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    padding: 1em 1.6em;
    border-bottom: 1px solid var(--lightest);

    li {
      display: inline-block;
    }

    .socials {
      display: none;
    }
  }
}

header {
  text-align: center;
  margin: 2rem 0;

  h1 {
    font-size: 3.6rem;
    margin: 0;
  }
}


article {
  text-align: justify;

  header {
    h1 {
      font-size: 2.4em;
      font-weight: 800;
      line-height: 1em;
    }
  }

  iframe {
    max-width: 100%;
  }

  .author {
    color: var(--light);
    font-size: 1.1em;
  }

  .meta {
    font-size: 0.9em;
    margin-top: .875em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    >* {
      margin-right: 0.4em;
    }
  }
}

time {
  display: inline-block;
}

blockquote {
  box-sizing: border-box;
  quotes: "“" "”" "‘" "’";
  color: var(--dark);
  margin: 2em 1em;

  img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
    display: block;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }

  &.noQuotes::before,
  &.noQuotes::after {
    content: initial;
  }

  p {
    display: inline;
  }
}

cite {
  float: right;

  &::before {
    content: "—";
  }
}

figure {
  margin: 1rem 0;
  overflow: visible;

  picture {
    display: block;
    margin: 0 -1.6em;
    max-width: calc(100% + 3.2rem);
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  figcaption {
    font-size: 0.9em;
    padding: 0.2rem 0 0.4em;
    color: var(--light);
  }
}

.profile-picture {
  width: 100%;
  max-width: 500px;
}

.📅 {
  display: block;
  font-weight: 100;
  font-family: var(--font-mono);
  color: var(--light);
}

.listing {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  line-height: 1.4;
  grid-gap: 0.6em;

  a {
    letter-spacing: -0.014em;
    font-weight: 600;
    text-decoration: none;

    &:visited {
      color: var(--dark);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .dnf a {
    color: var(--light);

    &:visited {
      color: var(--light);
    }
  }

  span {
    font-weight: 200;
  }

  .year {
    grid-column-start: span 2;
    margin-top: 1.5em;
    font-weight: 100;
    color: var(--light);
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;

    .📅 {
      display: none;
    }

    .year {
      grid-column-start: 1;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

abbr {
  font-variant-caps: all-small-caps;
  font-variant-numeric: oldstyle-nums;
  font-style: normal;
}

sup a {
  margin-left: 0.25em;
}

.footnotes {
  margin-top: 3em;
  font-size: .9em;
  color: var(--light);

  hr {
    background: var(--light);
  }

  p {
    margin: 0;
  }
}

.green {
  color: #2ECC40;
}

.red {
  color: #FF4136;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.not-found {
  text-align: center;
  width: 100%;

  h1 {
    font-family: var(--font-mono);
    font-weight: 150;
  }
}

.atom {
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--lightest);
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;

    .📅 {
      font-weight: 130;
      font-size: .9rem;
    }

    h1,
    h2 {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  p:first-of-type {
    margin-top: .4rem;
  }

  .meta {
    margin-top: 1rem;
    font-size: .8rem;
    color: var(--light);
  }
}

.archive {
  grid-area: main;
  padding: 1.6em;

  .title {
    font-size: 3rem;
    margin: 0;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    // Not yet widely supported, in Firefox one can enable this by navigating
    // to `about:config` and enabling `layout.css.grid-template-masonry-value.enabled`.
    grid-template-rows: masonry;

    @media only screen and (max-width: 512px) {
      grid-template-columns: 1fr;
    }

    >div {
      padding: 5px;
      display: flex;
      align-items: center;
      line-height: 0;

      img {
        width: 100%;
      }
    }
  }
}