:root {
  --foreground: #1E1919;
  --dark: #222;
  --background: #F5F5F0;
  --light: #555;
  --font-sans: system-ui, sans-serif;
  --page-width: 840px;
  --font-mono: "Berkeley Mono", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #F5F5F0;
    --dark: #ddd;
    --background: #1E1919;
    --light: #aaa;
  }
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('fonts/BerkeleyMonoVariable-Regular.woff2') format('woff2'),
    url('/fonts/BerkeleyMonoVariable-Regular.woff') format('woff');
  font-weight: 100 110 120 130 140 150;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('fonts/BerkeleyMonoVariable-Italic.woff2') format('woff2'),
    url('/fonts/BerkeleyMonoVariable-Italic.woff') format('woff');
  font-weight: 100 110 120 130 140 150;
  font-style: italic;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--foreground);
  background-color: var(--background);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  width: 100%;
  padding: 1.6em;
  display: flex;
  flex-direction: row;
  word-break: break-word;

  @media only screen and (max-width: 840px) {
    flex-direction: column;
  }
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}

* {
  box-sizing: border-box;
}

a.icon {
  display: inline-flex;
  stify-content: center;
  align-items: center;
}

a {
  color: var(--foreground);
  text-decoration: underline;

  &:hover {
    text-decoration: none;

    svg {
      fill: var(--background);
    }
  }

  svg {
    height: 1em;
    width: 1em;
    fill: var(--foreground);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  letter-spacing: -0.0425em;
}

h1 {
  font-size: 2.4em;
  font-weight: 800;
}

.🏷 {
  color: var(--light);
  font-size: 0.9em;
}

hr {
  background: var(--foreground);
  height: 1px;
  border: 0;
}

p {
  word-break: break-word;
}

pre {
  overflow-x: auto;
  padding: 1em;
  border-radius: 0.2em;
}

footer {
  margin-top: 4em;
  font-size: 0.875em;
  color: var(--light);
  grid-area: footer;

  address {
    display: inline-block;
  }

  a {
    color: var(--light);

    &:hover {
      color: var(--foreground);
    }
  }
}

code {
  font-family: var(--font-mono);
  font-weight: 120;
  font-size: 14px;
}

ul,
ol {
  padding-left: 1.2em;
}

header {
  margin-bottom: 2em;
}

main {
  flex: 1;
  max-width: var(--page-width);
  min-height: calc(100vh - 3.2em);

  & h1:first-of-type {
    margin-top: 0;
  }
}

header.main {
  justify-content: space-between;
  align-items: center;
  padding-right: 8%;
  font-family: var(--font-mono);
  font-weight: 100;

  flex-wrap: wrap;
  flex-direction: column;

  h1 {
    margin: 0 1.4rem 0 0;
    font-size: 1em;
    white-space: nowrap;
    font-weight: 150;
  }

  a {
    text-decoration: none;
    padding: .2em;

    &:hover {
      background-color: var(--foreground);
      color: var(--background);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0.6rem 0;
  }

  li {
    margin-right: 0.6em;
    display: block;

    a {
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 0.1em;

      &.active {
        font-weight: 150;

        &::after {
          content: '←';
        }
      }
    }
  }

  @media only screen and (max-width: 840px) {
    display: flex;
    flex-direction: row;
    padding-right: 0;

    li {
      display: inline-block;
    }
  }

  .socials {
    @media only screen and (max-width: 840px) {
      display: none;
    }
  }
}

article {

  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }


  header {
    h1 {
      line-height: 1em;
      margin-bottom: 0.875em;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &.book {
    header {
      h1 {
        margin-bottom: 0em;
      }
    }
  }

  iframe {
    max-width: 100%;
  }

  .author {
    color: var(--light);
    font-size: 1.1em;
    margin-bottom: 0.875em;
  }

  .meta {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >* {
      margin-right: 0.4em;
    }

    time {
      font-style: italic;
    }
  }

  @media only screen and (max-width: 600px) {
    header {
      margin-top: 1em;
    }
  }
}

blockquote {
  box-sizing: border-box;
  quotes: "“" "”" "‘" "’";
  color: var(--dark);
  margin: 2em;

  img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
    display: block;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }

  &.noQuotes::before,
  &.noQuotes::after {
    content: initial;
  }

  p {
    display: inline;
  }
}

cite {
  float: right;

  &::before {
    content: "—";
  }
}

figure {
  margin: 1rem 0;
  overflow: visible;
}

figcaption {
  font-size: 0.9em;
  padding: 0.2rem 0 0.4em;
  color: var(--light);
}

img {
  margin: 0 -1.6em;
  max-width: calc(100% + 3.2rem);
}

.📅 {
  display: block;
  font-weight: 100;
  font-family: var(--font-mono);
  color: var(--light);
}

.etc li {
  color: var(--dark);
}

.listing {
  display: grid;
  grid-template-columns: 1fr auto;
  line-height: 1.4;
  grid-gap: 0.6em;

  a {
    letter-spacing: -0.014em;
    font-weight: 600;
    text-decoration: none;

    &:visited {
      color: var(--dark);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .dnf a {
    color: var(--light);

    &:visited {
      color: var(--light);
    }
  }

  span {
    font-weight: 200;
  }

  .year {
    grid-column-start: span 2;
    margin-top: 1.5em;
    font-weight: 200;
    font-size: 0.9em;
    color: var(--light);

    &:first-of-type {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;

    .📅 {
      display: none;
    }

    .year {
      grid-column-start: 1;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

abbr {
  font-variant-caps: all-small-caps;
  font-variant-numeric: oldstyle-nums;
  font-style: normal;
}

sup a {
  margin-left: 0.25em;
}

.footnotes {
  margin-top: 3em;
  font-size: .9em;
  color: var(--light);

  hr {
    background: var(--light);
  }

  p {
    margin: 0;
  }
}

.welcome {
  margin-bottom: 2em;
}

.green {
  color: #2ECC40;
}

.red {
  color: #FF4136;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.not-found {
  text-align: center;
  width: 100%;

  h1 {
    font-family: var(--font-mono);
    font-weight: 150;
  }
}