<div class="segments">
  <h2>Laps</h2>
  <div class="table">
    <div class="columnName">
    </div>
    <div class="columnName">
      Distance
    </div>
    <div class="columnName">
      Speed
    </div>
    <div class="columnName">
      Heart Rate
    </div>
    <div class="columnName">
      Elapsed time
    </div>
    <div class="columnName">
      Elevation gain
    </div>
    <div class="columnName">
      Cadence
    </div>
    {{ range . }}
    <div>
      {{ .name }}
    </div>
    <div>
      {{ with .distance }}
      {{ lang.NumFmt 2 (div . 1000) }}km
      {{ end}}
    </div>
    <div>
      {{ with .average_speed }}
      {{ lang.NumFmt 2 ( mul 3.6 . ) }}km/h
      {{ end }}
    </div>
    <div>
      {{ .average_heartrate }}
    </div>
    <div>
      {{ printf "%02d" (div ( mod .elapsed_time 3600 ) 60 ) }}:{{ printf "%02d" ( mod .elapsed_time 60 ) }}
    </div>
    <div>
      {{ if .total_elevation_gain }}{{ .total_elevation_gain }}{{ else}}0{{ end }}m
    </div>
    <div>
      {{ .average_cadence }}
    </div>
    {{ end }}
  </div>
</div>
<pre>
  {{.|jsonify}}
</pre>

