<div id="map" style="width:100%;height:400px"></div>
<script>
function getBoundingBox(data) {
  var bounds = {}, coords, point, latitude, longitude;
  for (var i = 0; i < data.length; i++) {
      longitude = data[i][0];
      latitude = data[i][1];
      bounds.xMin = bounds.xMin < longitude ? bounds.xMin : longitude;
      bounds.xMax = bounds.xMax > longitude ? bounds.xMax : longitude;
      bounds.yMin = bounds.yMin < latitude ? bounds.yMin : latitude;
      bounds.yMax = bounds.yMax > latitude ? bounds.yMax : latitude;
  }

  const xDiff = bounds.xMax - bounds.xMin;
  const yDiff = bounds.yMax - bounds.yMin;
  return [[bounds.xMin - (0.1*xDiff), bounds.yMin - (0.1*yDiff)], [bounds.xMax + (0.1 * xDiff), bounds.yMax + (0.1 * yDiff)]];
}

console.info(polyline.toGeoJSON('{{ .map.polyline }}'))
 const coordinates = polyline.toGeoJSON('{{ .map.polyline }}').coordinates;
 const bbox = getBoundingBox(coordinates);

	mapboxgl.accessToken = 'pk.eyJ1IjoibWF0b3VzZHppdmphayIsImEiOiJja3ZwYmRoajQxbjlsMm5vNWxuNnF1dTZzIn0.iHb7WVhp_dCDlN3lZMYYEQ';
const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/light-v10',
center: [(bbox[0][0] + bbox[1][0]) / 2, (bbox[0][1] + bbox[1][1]) / 2],
zoom: 15
});
 console.info(coordinates);
map.on('load', () => {
map.addSource('route', {
'type': 'geojson',
'data': {
'type': 'Feature',
'properties': {},
'geometry': {
'type': 'LineString',
        'coordinates':coordinates 
}
}
});
map.addLayer({
'id': 'route',
'type': 'line',
'source': 'route',
'layout': {
'line-join': 'round',
'line-cap': 'round'
},
'paint': {
'line-color': '#000',
'line-width': 4
}
});
  map.fitBounds(bbox, {linear: true});
});
</script>

{{define "addscripts"}}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet" async>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js" async></script>
<script src="/scripts/polyline.js" async></script>
{{end}}
