<div class="activityStats" style="">
  <div class="stat">
    <div>
      <b>{{ lang.NumFmt 2 (div .distance 1000) }} km</b>
    </div>
    <div>
      Distance
    </div>
  </div>
  <div class="stat">
    <div>
      <b>{{ .total_elevation_gain }} m</b>
    </div>
    <div>
      Elevation Gain
    </div>
  </div>
  <div class="stat">
    <div>
      <b>
      {{ $hours := math.Floor ( div .moving_time 3600 )}}
      {{ if gt $hours 0 }}
        {{ $hours }}h
      {{ end }}
      {{ math.Floor (div ( mod .moving_time 3600 ) 60 ) }}m
      </b>
    </div>
    <div>
       Time
    </div>
  </div>
  <div class="stat">
        <div>
      <b>{{ lang.NumFmt 2 (mul .average_speed 3.6) }} km/h</b>
    </div>
    <div>
      Avg Speed
    </div>
  </div>
    <div class="stat">
    <div>
      <b>{{ if .weighted_average_watts }}{{ .weighted_average_watts }}{{else}}{{ .average_watts}}{{end}} W</b>
    </div>
    <div>
      Avg Watts {{ if not .device_watts }}(est.){{ end }}
    </div>
  </div>
  <div class="stat">
    <div>
      <b>{{ .calories }} kCal</b>
    </div>
    <div>
      Calories
    </div>
  </div>
</div>

