<div class="activityStats">
  <div class="stat">
    <div>
      <b>{{ lang.NumFmt 2 (div .distance 1000) }} km</b>
    </div>
    <div>
      Distance
    </div>
  </div>
  <div class="stat">
    <div>
      <b>{{ .total_elevation_gain }} m</b>
    </div>
    <div>
      Elevation Gain
    </div>
  </div>
  <div class="stat">
    <div>
      <b>
      {{ $hours := math.Floor ( div .moving_time 3600 )}}
      {{ if gt $hours 0 }}
        {{ $hours }}h
      {{ end }}
      {{ math.Floor (div ( mod .moving_time 3600 ) 60 ) }}m
      </b>
    </div>
    <div>
       Time
    </div>
  </div>
  <div class="stat">
        <div>
      {{ $pace := div 16.666666667 .average_speed }}
      {{ $sec := sub $pace (math.Floor $pace) }}
      <b>{{ math.Floor $pace }}:{{ math.Floor (mul $sec 60) }} min/km</b>
    </div>
    <div>
      Pace
    </div>
  </div>
  <div class="stat">
    <div>
      <b>{{ .calories }} kCal</b>
    </div>
    <div>
      Calories
    </div>
  </div>
</div>

