<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta content="width=device-width,minimum-scale=1" name="viewport">
<meta content="#fff" name="theme-color">
<meta content="{{ .Site.Params.Description }}" name="description">
<meta content="{{ .Site.Params.Description }}" name="twitter:description">
<meta content="{{ .Site.Params.Description }}" name="og:description">
<meta content="dzx.codes" property="og:site_name">
<meta content="matousdzivjak@gmail.com" property="og:email">
<meta content="blog" property="og:type">
<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "author": "Matous Dzivjak"
  }</script>
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<link rel="icon" type="image/x-icon" href="{{ "favicon.png" | relURL }}">
<style>
  {{ $style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
  {{ $style.Content | safeCSS }}
</style>
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ if .Title }}{{ .Title }}  - {{ end }}{{ .Site.Title }}</title>
<link href="mailto:matousdzivjak@gmail.com" rel="me">
<link href="https://github.com/matoous" rel="me">
<link href="https://www.linkedin.com/in/matous-dzivjak/" rel="me">
<link href="https://keybase.io/matousdz" rel="me">
<link href="https://www.instagram.com/matousdz/" rel="me">
