{{ define "main" }}
<div id="404" style="width:100%"></div>
<script src="https://unpkg.com/three@0.126.1/build/three.min.js" type="application/javascript"></script>
<script>
  container = document.getElementById('404');
  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera(75, 2, 0.1, 1000);
  camera.position.z = 50;
  const renderer = new THREE.WebGLRenderer({antialias: true, alpha: true });
  renderer.setClearColor( 0x000000, 0 );
  renderer.setSize(container.clientWidth, container.clientWidth / 2);
  renderer.setPixelRatio(window.devicePixelRatio);
  container.append(renderer.domElement);

  var geo = new THREE.PlaneBufferGeometry(1000, 1000, 1, 1);
  var mat = new THREE.MeshBasicMaterial({ color: 0x00ff00, side: THREE.DoubleSide });
  var plane = new THREE.Mesh(geo, mat);
  plane.rotateX( - Math.PI / 2);
  plane.position.y -=100;
  scene.add(plane);

  var L1 = new THREE.PointLight(0xffffff, .6);
  L1.castShadow = true; // default false
  L1.position.z = -150;
  L1.position.y = 150;
  L1.position.x = 100;
  scene.add(L1);

  // Icosahedron
  const group = new THREE.Group();
  const geometry = new THREE.IcosahedronGeometry(80, 1);
  const cube = new THREE.Mesh(geometry, new THREE.MeshPhongMaterial({
    color: new THREE.Color("rgb(226,35,213)"),
    emissive: new THREE.Color(0xE41459),
    specular: new THREE.Color("rgb(255,155,255)"),
    shininess: 10,
    flatShading: true
  }));
  const lineMaterial = new THREE.LineBasicMaterial({color: 0xffffff, transparent: true, opacity: 0.5});
  group.add(new THREE.LineSegments(geometry, lineMaterial));
  group.add(cube);
  group.rotation.x += .2;
  group.position.z -= 150;
  scene.add(group);

  // 404 text
  const loader = new THREE.FontLoader();
  loader.load('/helvetiker_bold.typeface.json', function (font) {
    const textGeometry = new THREE.TextGeometry('404', {
      font: font,
      size: 40,
      height: 5,
      curveSegments: 12,
      bevelEnabled: true,
      bevelThickness: 1,
      bevelSize: 1,
      bevelOffset: 0,
      bevelSegments: 5
    });

    textGeometry.computeBoundingBox();
    const xMid = -0.5 * (textGeometry.boundingBox.max.x - textGeometry.boundingBox.min.x);
    const yMid = -0.5 * (textGeometry.boundingBox.max.y - textGeometry.boundingBox.min.y);
    textGeometry.translate(xMid, yMid, 0);
    const text = new THREE.Mesh(textGeometry, new THREE.MeshPhongMaterial({
      color: new THREE.Color(0x0074D9),
      emissive: new THREE.Color(0x001f3f),
      specular: new THREE.Color(0x7FDBFF),
      shininess: 3,
      flatShading: true
    }));
    text.position.z -= 50;
    scene.add(text);
  })

  const animate = function () {
    requestAnimationFrame(animate);
    group.rotation.y += 0.01;
    renderer.render(scene, camera);
  };
  animate();
  window.addEventListener('resize', function () {
    renderer.setSize(container.clientWidth, container.clientWidth / 2);
    camera.updateProjectionMatrix();
  }, false);
</script>
{{ end }}
