<!DOCTYPE html>
<html lang="en">

<head>
  {{ block "head" . }}
  {{ partial "head.html" . }}
  {{ end }}
  {{block "addscripts" . }}
  {{end}}
  {{ range .Params.scripts }}
  {{ with $.Resources.GetMatch . }}
  <script src="{{ .RelPermalink }}" defer></script>
  {{ end }}
  {{ end }}
</head>

<body>
  {{ block "nav" . }}
  {{ partial "nav.html" . }}
  {{ end }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}
  {{ partial "footer.html" . }}
  {{ end }}
</body>
<script>
  const logo = document.getElementById('logo');
  setInterval(() => {
    logo.innerHTML = logo.innerHTML.includes('_') ? 'dzx.cz&nbsp' : 'dzx.cz_'
  }, 500)
</script>

</html>
