<!DOCTYPE html>
<html lang="en">

<head>
  {{ block "head" . }}
  {{ partial "head.html" . }}
  {{ end }}
  {{block "addscripts" . }}
  {{end}}
</head>

<body>
  {{ block "nav" . }}
  {{ partial "nav.html" . }}
  {{ end }}
  <main>
    <h1>Atoms</h1>
    <div class="atoms">
      {{ range .Pages }}
      <div class="atom">
        <div class="title">
          <time datetime="{{ .Date | time.Format "2006-01-02" }}" class="📅">{{ .Date | time.Format "2006-01-02"}}</time>
          <a href="{{.Permalink}}">#</a>
        </div>
        {{ .Content }}
      </div>
      {{ end }}
    </div>

    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
  </main>
</body>

</html>
