{{ define "main" }}
<article>
  <header>
    <h1>
      {{ .Title }}
      <span class="author">
        by {{ range $index, $tag := .Params.authors }}
        {{- if $index }}, {{ end }}
        {{- .name }}
        {{- end }}
      </span>
    </h1>
    <div class="meta">
      <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ range $i, $tag := (.GetTerms "tags") }}
      {{ with $tag }}
      <span>•</span>
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      {{ end }}
      {{ end }}
    </div>
  </header>
  {{ .Content }}
  <div class="book-info">
    <div class="book-title">
      <div class="field-name">Book</div>
      <div>
        {{ if .Params.book_url }}
        <a href="{{ .Params.book_url }}">{{ .Params.book_title }}</a>
        {{ else }}
        {{ .Params.book_title }}
        {{ end }}
      </div>
    </div>
    <div class="book-author">
      <div class="field-name">Author</div>
      <div>
        {{- range $index, $tag := .Params.authors }}
        {{- if $index }}, {{ end }}
        {{- if .url }}
        <a href="{{ .url }}">{{ .name }}</a>
        {{- else }}
        {{- .name }}
        {{- end }}
        {{- end }}
      </div>
    </div>
    <div class="book-isbn">
      <div class="field-name">ISBN</div>
      <div>
        <a href="https://www.goodreads.com/search?q={{ .Params.isbn13 }}&search_type=books">{{ .Params.isbn13 }}</a>
      </div>
    </div>
  </div>
</article>
{{ end }}